## Exploración de Datos

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # statistical data visualization
%matplotlib inline

In [20]:
# Leer y combinar todos los archivos CSV y XLS de la carpeta raw en un solo DataFrame
import os
import glob

raw_dir = '../data/raw/'
file_types = ['*.csv', '*.xls', '*.xlsx']
all_files = []
for year in os.listdir(raw_dir):
    year_path = os.path.join(raw_dir, year)
    if os.path.isdir(year_path):
        for ext in file_types:
            all_files.extend(glob.glob(os.path.join(year_path, ext)))

dfs = []
for file in all_files:
    print(f'Leyendo archivo: {file}')
    if file.endswith('.csv'):
        dfs.append(pd.read_csv(file, encoding='latin1', on_bad_lines='skip'))
    elif file.endswith('.xls') or file.endswith('.xlsx'):
        dfs.append(pd.read_excel(file))

df_all = pd.concat(dfs, ignore_index=False)
print(f'Total archivos leídos: {len(all_files)}')
print(f'Tamaño del DataFrame combinado: {df_all.shape}')

Leyendo archivo: ../data/raw/2020\cbacsv_nov2020.csv
Leyendo archivo: ../data/raw/2020\cbapromsector_feb2020.csv
Leyendo archivo: ../data/raw/2020\cba_agosto2020.csv
Leyendo archivo: ../data/raw/2020\cba_dic2020.csv
Leyendo archivo: ../data/raw/2020\cba_junio2020.csv
Leyendo archivo: ../data/raw/2020\cba_mar2020.csv
Leyendo archivo: ../data/raw/2020\cba_octubre2020.csv
Leyendo archivo: ../data/raw/2020\cba_sept2020.csv
Leyendo archivo: ../data/raw/2020\cba_julio2020.xls
Leyendo archivo: ../data/raw/2021\cba_abril2021csv.csv
Leyendo archivo: ../data/raw/2021\cba_ago2021.csv
Leyendo archivo: ../data/raw/2021\cba_enero2021-csv.csv
Leyendo archivo: ../data/raw/2021\cba_febrero2021-csv.csv
Leyendo archivo: ../data/raw/2021\cba_julio2021-csv.csv
Leyendo archivo: ../data/raw/2021\cba_marzo_csv2021.csv
Leyendo archivo: ../data/raw/2021\cba_nov2021.csv
Leyendo archivo: ../data/raw/2021\cba_sept2021csv.csv
Leyendo archivo: ../data/raw/2022\cbamayo2022.csv
Leyendo archivo: ../data/raw/2022\cba_abril2022_csv.csv
Leyendo archivo: ../data/raw/2022\cba_ene2022.csv
Leyendo archivo: ../data/raw/2022\cba_feb2022.csv
Leyendo archivo: ../data/raw/2022\cba_junio2022.csv
Leyendo archivo: ../data/raw/2022\cba_marzo2022csv.csv
Total archivos leídos: 23
Tamaño del DataFrame combinado: (1371, 263)

In [21]:
# Explorar el DataFrame con pandasgui (interfaz gráfica interactiva)
from pandasgui import show
show(df_all)

PandasGUI INFO — pandasgui.gui — Opening PandasGUI
C:\Users\Isaac\AppData\Local\Temp\ipykernel_1808\3044204102.py:3: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Isaac\AppData\Local\Temp\ipykernel_1808\3044204102.py:3: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Isaac\AppData\Local\Temp\ipykernel_1808\3044204102.py:3: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Isaac\AppData\Local\Temp\ipykernel_1808\3044204102.py:3: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Isaac\AppData\Local\Temp\ipykernel_1808\3044204102.py:3: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\Isaac\AppData\Local\Temp\ipykernel_1808\3044204102.py:3: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

In [18]:
raw_dir = '../data/raw/'
paths = ['2020/cba_agosto2020.csv', '2020/cba_dic2020.csv']
df2020_1 = pd.read_csv(raw_dir + paths[0], encoding='latin1')
df2020_1.head()

,Producto,Unidad de Medida,CASA DE LA CARNE CANGREJO,REY DE VIA ESPA¥A,RIBA SMITH BELLA VISTA,RIBA SMITH TRANSISTMICA,SUPER 99 CAMINO REAL,SUPER 99 EL DORADO,SUPER 99 TUMBA MUERTO,XTRA TUMBA MUERTO,...,MINISUPER PLAZA AMADOR,ABT EDITH- SANTA ANA,MINISUPER EXPRESO-CALIDONIA,MINISUPER ROY-CALIDONIA,MINISUPER EL MILENIO,M/S VILLA ZAITA,ABARROTERÖA BERAKA,ABT - LA PAGODA,ABT. LA PAGODA NO. 2,M/S MULTI CARNES
0,Babilla (Carne de res de Primera) *,1 Kilogramo,NaN,NaN,NaN,6.55,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.33,6.05,6.54
1,Bistec de Cinta *,1 Kilogramo,4.96,5.62,5.62,5.62,5.19,5.19,NaN,NaN,...,NaN,5.62,NaN,NaN,NaN,NaN,NaN,5.40,4.51,6.52
2,Carne Molida de Primera *,1 Kilogramo,NaN,3.75,4.74,4.74,4.74,4.74,4.74,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.51,4.73,3.75
3,Carne para Sopa (Costilla),1 Kilogramo,4.70,NaN,NaN,NaN,NaN,NaN,NaN,3.54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Puerco Liso,1 Kilogramo,7.80,NaN,11.83,11.83,NaN,NaN,4.99,NaN,...,6.06,7.17,6.28,NaN,NaN,NaN,NaN,4.96,5.17,5.62

In [24]:
df2020_1.describe().round(2)

,CASA DE LA CARNE CANGREJO,REY DE VIA ESPA¥A,RIBA SMITH BELLA VISTA,RIBA SMITH TRANSISTMICA,SUPER 99 CAMINO REAL,SUPER 99 EL DORADO,SUPER 99 TUMBA MUERTO,XTRA TUMBA MUERTO,EL MACHETAZO COSTA SUR,EL MACHETAZO METRO MALL,...,MINISUPER PLAZA AMADOR,ABT EDITH- SANTA ANA,MINISUPER EXPRESO-CALIDONIA,MINISUPER ROY-CALIDONIA,MINISUPER EL MILENIO,M/S VILLA ZAITA,ABARROTERÖA BERAKA,ABT - LA PAGODA,ABT. LA PAGODA NO. 2,M/S MULTI CARNES
count,45.00,43.00,50.00,53.00,47.00,46.00,47.00,47.00,51.00,49.00,...,30.00,26.00,21.00,22.00,38.00,37.00,36.00,40.00,41.00,40.00
mean,2.84,2.29,3.00,3.23,2.37,2.25,2.56,2.19,2.70,2.58,...,1.86,2.14,1.81,1.51,2.10,2.06,1.93,2.50,1.93,2.25
std,2.57,1.89,2.91,3.22,2.13,2.03,2.44,2.19,2.48,2.48,...,1.72,2.10,1.56,1.29,1.65,1.58,1.29,2.20,1.61,1.90
min,0.50,0.35,0.45,0.45,0.35,0.35,0.35,0.27,0.41,0.40,...,0.35,0.35,0.50,0.30,0.40,0.40,0.45,0.30,0.25,0.30
25%,1.00,0.95,0.92,0.92,0.94,0.96,0.94,0.91,0.94,0.93,...,0.81,0.86,0.75,0.75,0.86,0.85,0.88,0.89,0.75,0.87
50%,1.77,1.68,2.00,2.12,1.79,1.72,1.79,1.66,2.07,1.75,...,1.25,1.40,1.25,1.04,1.50,1.54,1.44,1.74,1.45,1.74
75%,3.76,2.92,3.79,3.94,2.73,2.54,2.72,2.62,3.20,2.71,...,2.20,2.65,2.31,1.75,2.90,3.31,2.96,3.32,2.71,3.19
max,11.29,8.20,14.30,14.30,11.49,10.57,10.99,11.46,10.65,11.75,...,8.27,8.71,6.28,5.75,7.72,7.39,5.95,10.45,6.58,8.26

In [31]:
with open(raw_dir + paths[1], encoding='latin1') as f:
    lines = f.readlines()[1:]  # Remueve la primera fila

from io import StringIO
df2020_2 = pd.read_csv(StringIO(''.join(lines)))
df2020_2.head()

,Producto,Medida,CASA DE LA CARNE CANGREJO,REY DE VIA ESPA¥A,RIBA SMITH BELLA VISTA,RIBA SMITH TRANSISTMICA,REY EL DORADO,SUPER 99 CAMINO REAL,SUPER 99 EL DORADO,SUPER 99 TUMBA MUERTO,...,ABT EDITH- SANTA ANA,MINISUPER EXPRESO-CALIDONIA,MINISUPER ROY-CALIDONIA,MINISUPER EL MILENIO,M/S VILLA ZAITA,M/S OCANO,ABARROTERÖA BERAKA,ABT - LA PAGODA,ABT. LA PAGODA NO. 2,M/S MULTI CARNES
0,Babilla (Carne de res de Primera) *,1 Kilogramos,NaN,6.55,6.55,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.06,6.33,6.54
1,Bistec de Cinta *,1 Kilogramos,4.96,5.84,NaN,5.62,5.84,5.62,5.62,5.62,...,5.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.40,NaN
2,Carne Molida de Primera *,1 Kilogramos,NaN,NaN,4.74,NaN,NaN,4.74,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.74,NaN,4.74,4.39,4.41
3,Carne para Sopa (Costilla) *,1 Kilogramos,NaN,NaN,NaN,NaN,NaN,4.45,NaN,NaN,...,NaN,NaN,NaN,6.06,NaN,NaN,NaN,NaN,NaN,NaN
4,Puerco Liso *,1 Kilogramos,7.80,5.51,NaN,14.47,NaN,NaN,NaN,5.75,...,5.51,NaN,NaN,6.50,7.17,NaN,NaN,6.37,5.40,5.62

In [32]:
df2020_2.describe()

,CASA DE LA CARNE CANGREJO,REY DE VIA ESPA¥A,RIBA SMITH BELLA VISTA,RIBA SMITH TRANSISTMICA,REY EL DORADO,SUPER 99 CAMINO REAL,SUPER 99 EL DORADO,SUPER 99 TUMBA MUERTO,XTRA TUMBA MUERTO,EL MACHETAZO COSTA SUR,...,ABT EDITH- SANTA ANA,MINISUPER EXPRESO-CALIDONIA,MINISUPER ROY-CALIDONIA,MINISUPER EL MILENIO,M/S VILLA ZAITA,M/S OCANO,ABARROTERÖA BERAKA,ABT - LA PAGODA,ABT. LA PAGODA NO. 2,M/S MULTI CARNES
count,37.000000,40.000000,38.000000,45.000000,42.000000,47.000000,41.000000,50.000000,48.000000,39.000000,...,25.00000,21.000000,18.000000,41.000000,36.000000,31.000000,32.000000,41.000000,37.000000,39.000000
mean,2.512973,2.585750,2.708421,3.088889,2.540952,2.588723,2.312195,2.687400,2.339792,2.354872,...,2.10800,1.614762,1.354444,2.571951,2.277500,1.744194,1.746250,2.331220,2.197027,2.355641
std,2.119820,2.106106,2.189853,3.159382,2.498913,2.334796,1.836565,2.396259,2.289316,2.281725,...,1.95167,1.289863,1.038983,2.056964,1.951358,1.293081,1.294192,1.980091,1.636279,2.092588
min,0.500000,0.490000,0.450000,0.450000,0.490000,0.350000,0.350000,0.350000,0.340000,0.390000,...,0.25000,0.500000,0.350000,0.400000,0.450000,0.250000,0.350000,0.250000,0.490000,0.200000
25%,0.900000,1.025000,0.965000,0.920000,1.025000,0.970000,0.890000,1.005000,0.867500,0.815000,...,0.75000,0.770000,0.750000,0.880000,0.850000,0.865000,0.850000,0.850000,0.880000,0.860000
50%,1.760000,1.895000,1.960000,2.050000,1.875000,1.760000,1.760000,1.840000,1.675000,1.490000,...,1.25000,1.000000,0.925000,1.870000,1.595000,1.250000,1.250000,1.960000,1.960000,1.600000
75%,3.760000,3.190000,3.895000,3.760000,3.057500,3.490000,2.840000,3.160000,2.747500,2.735000,...,2.65000,1.650000,1.642500,3.640000,3.310000,2.350000,2.807500,2.870000,3.060000,3.200000
max,8.890000,8.050000,9.100000,14.470000,14.490000,11.490000,7.690000,10.990000,11.460000,8.270000,...,8.05000,4.950000,4.410000,7.720000,8.710000,5.350000,5.950000,7.690000,6.330000,8.260000

In [33]:
df = pd.concat([df2020_1, df2020_2], ignore_index=True)
df.describe().round(2)

,CASA DE LA CARNE CANGREJO,REY DE VIA ESPA¥A,RIBA SMITH BELLA VISTA,RIBA SMITH TRANSISTMICA,SUPER 99 CAMINO REAL,SUPER 99 EL DORADO,SUPER 99 TUMBA MUERTO,XTRA TUMBA MUERTO,EL MACHETAZO COSTA SUR,EL MACHETAZO METRO MALL,...,MINISUPER EXPRESO-CALIDONIA,MINISUPER ROY-CALIDONIA,MINISUPER EL MILENIO,M/S VILLA ZAITA,ABARROTERÖA BERAKA,ABT - LA PAGODA,ABT. LA PAGODA NO. 2,M/S MULTI CARNES,REY EL DORADO,M/S OCANO
count,82.00,83.00,88.00,98.00,94.00,87.00,97.00,95.00,90.00,85.00,...,42.00,40.00,79.00,73.00,68.00,81.00,78.00,79.00,42.00,31.00
mean,2.69,2.43,2.87,3.16,2.48,2.28,2.62,2.26,2.55,2.61,...,1.71,1.44,2.34,2.17,1.85,2.41,2.06,2.30,2.54,1.74
std,2.37,1.99,2.61,3.18,2.22,1.93,2.40,2.23,2.39,2.42,...,1.42,1.17,1.87,1.77,1.29,2.08,1.62,1.98,2.50,1.29
min,0.50,0.35,0.45,0.45,0.35,0.35,0.35,0.27,0.39,0.40,...,0.50,0.30,0.40,0.40,0.35,0.25,0.25,0.20,0.49,0.25
25%,0.90,0.95,0.92,0.92,0.95,0.94,0.95,0.89,0.89,0.93,...,0.76,0.75,0.86,0.85,0.85,0.88,0.79,0.86,1.02,0.86
50%,1.76,1.75,1.96,2.08,1.78,1.76,1.79,1.66,1.54,1.75,...,1.12,0.97,1.54,1.54,1.34,1.96,1.48,1.60,1.88,1.25
75%,3.76,3.02,3.84,3.80,2.80,2.72,2.89,2.70,2.95,2.98,...,2.21,1.75,3.31,3.31,2.95,3.28,2.87,3.20,3.06,2.35
max,11.29,8.20,14.30,14.47,11.49,10.57,10.99,11.46,10.65,11.75,...,6.28,5.75,7.72,8.71,5.95,10.45,6.58,8.26,14.49,5.35